
@model List<Student>



<h2 class="center-align">List Studentów</h2>
<a asp-action="Create">Dodaj Studenta</a>
<table class="highlight">
    <thead class=" blue-grey lighten-2">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Studies.Name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studies.Name)
            </td>

            <td>
                <a asp-action="Delete" asp-route-id="@item.IdStudent">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
